Temp/
Library/

# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.suo
*.tmp
*.bak
*.swp
.DS_Store
.vs/
